NEXT_PUBLIC_SUPABASE_URL=https://jpubmxuoriwjobhjjcec.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwdWJteHVvcml3am9iaGpqY2VjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzIyNzk1MTAsImV4cCI6MjA0Nzg1NTUxMH0.-1_CUlS08e_L3AFYr2dgMFo4O0RxkjwNP_uo8FEy6FA